
<h1 style="text-align: center;"><span style="color: #000080;"><strong>Parcial N&deg;2 Programacion III</strong></span></h1>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="/Socio/AltaSocio" span style="text-decoration: underline; color: #000080;" ><em>Registrar Socio</em></span></p>
<p style="text-align: center;"><a href="/Socio/ListadoSocios" span style="text-decoration: underline; color: #000080;"><em>Ver Listados de Socios</em></span></p>
<p style="text-align: center;"><a href="/Socio/Reporte" span style="text-decoration: underline; color: #000080;"><em>Ver Reporte</em></span></p>

