
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <title>Recuperatorio Parcial N&deg;2 Programacion III</title>

</head>

<body>

    <titule margin-bottom: 40px;>
        <div class="container-fluid bg-primary py-5">
            <div class="container text-white">
                <center>
                    <h1 style="text-align: center; margin-bottom: 40px;"><span><strong>Recuperatorio Parcial N&deg;2 Programacion III</strong></span></h1>
                    <p class="lead">Aybar Jonathan Gabriel; Legajo: 110989; Curso: 2w1</p>
                </center>
            </div>
        </div>
    </titule>

    <div class="center-block">
        <div class="col-lg-12" style="margin-top: 40px;">
            <div class="form-group">
                <div class="col-sm-12">
                    <p style="text-align: center;color:black;text-decoration: underline"><span>Seleccionar formulario:</span></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <p style="text-align: center;"><a href="/Socio/AltaSocio" span>Registrar Socio</span></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <p style="text-align: center;"><a href="/Socio/ListadoSocios" span>Listado Socios</span></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <p style="text-align: center;"><a href="/Socio/Reporte" span>Ver Reporte</span></p>
                </div>
            </div>
        </div>
    </div>
</body>



